
@{
    ViewBag.Title = "Baskan";
    Layout = "~/Views/Shared/_Layout2.cshtml";


}



<!--Import Google Icon Font-->
<!-- Main Css -->
<link rel="stylesheet" href="~/Content/css/main.css" />
<section class="main-section">
    <div class="row">
        <div class="col-lg-2">
            <img class="img-responsive" src="~/Content/images/Alperen.jpg" />
            <h4 class="head">Muhammed Alperen Şerifoğlu   </h4>
            <p class="head">Gençelik Konsey başkanı</p>
        </div>
        <div class="col-lg-10 ">
           <P>Merhabalar</P>
            <p>Yeşilin ve mavinin bol olduğu, sevgi ve kardeşliğin doyasıya yaşandığı şehrimizden sizleri en kalbî duygularımla selamlıyorum.</p>
            
            <p>Sakarya’mız; çok kültürlü ve birçok milleti bir arada barındıran, Anadolu’nun kardeşlik iklimine sahip bir şehirdir. Bu kapsamın yanında Sakarya genç şehirlerimizdendir. Gençlik nüfusunun yoğun olduğu bir şehirdir. Şehrimizin gelişen yapısına katkı sağlamak adına çıktığımız bu kutlu yolculukta sizlerle işbirliği yapacağımız için büyük heyecan duymaktayız</p>
     
            <p>Sakarya Gençlik Meclisi olarak, göreve geldiğimiz günden bu yana şehre değer katan projelere imza attık. Aynı zamanda birçok projenin çalışmalarını da başlattık. Her geçen gün şehrimize hizmet etmek ve şehrimizin gelişimine katkı sağlamak adına çalışmalar yapmak bizi mutlu etmektedir. Bunları yaparken profesyonel bir çerçevede yapmakta olduğumuzu belirtmek isterim.</p>
         
            <p>Bizler, bu şehri kendimizin bir evi olarak kabul ettik. Kardeşlik ve sevgi ile dolu olan yuvamızın gelişmesine destek olmaktan bir an bile geri durmayacağız.</p>
          
            <p>Bu şehri geleceğin muasır medeniyetler seviyesine taşıyacak olanlar biz gençlerdir. Üreten, geliştiren, analiz edebilen ve yaşama aktif katılım gösteren gençler olma yolunda ilerlemekteyiz. Yerel demokrasinin en güçlü unsurlarından biri olan Kent Konseyi Gençlik Meclisi’mizin çalışmaları arasında, gençlerin toplumsal yaşamdaki etkinliklerini arttırmaya ve yerel karar alma mekanizmalarında aktif rol almalarını sağlamaya yönelik faaliyetler de bulunmaktadır. 2023 hedefleri doğrultusunda ilerleyen ülkemizin gelişmesinde en önemli görevin biz gençlerde olduğunun bilincindeyiz. Bu bağlamda Gençlik Meclisi ekibi, zamanlarını ve emeklerini gençler arasında sorumluluk bilincinin yaygınlaşması için harcamakta ve projeler üretmekte olup; Sakarya şehrine ve gençliğe değer katmak için çalışmalar yapmaktadır. Bu çerçevede Sakarya Valiliği, Sakarya Büyükşehir Belediyesi ve yerel belediyelerle ortak çalışmalarda bulunuyoruz. Çalışmalarımızı, şehrimizde gelişen bir gençlik oluşması adına sürdürüyor; faaliyetlerimizi bu doğrultuda planlıyoruz. Amacımız ilimizin mevcut potansiyelini verimli kullanmak ve Sakarya şehrini marka bir şehir haline getirmektir. Ülkemizin üreten, geliştiren ve aynı zamanda ülkesine değer katan liderlere ihtiyacı vardır. Bizler de, geleceğin liderlerini ve yöneticilerini yetiştirmek için Sakarya gençliğine hizmet etmekteyiz. Gençliği geleceğe hazırlayacak projeler üretmek için sizleri de aramızda görmekten onur duyarız.</p>
        </div>
    </div>
</section> 

