
@{
    ViewBag.Title = "KOMISYONLAR";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="~/Content/css/main.css" />
<section class="main-section">
    <div class="row">
        <div style="background-color:#0079C2" class="col-md-2">

            <img class="small-img txt-center" src="~/Content/images/komisyon.png" alt="back-image" />
            <h4 class="h4">Komisyonlar</h4>

        </div>
        <div class="col m9 wow fadeInLeft">
            <h5 style="font-weight:bolder;">Çevre Komisyonu</h5>
            <p>Sakarya halkının daha sağlıklı, huzurlu ve temiz bir şehir ekosistemi içerisinde yaşamını devam ettirmesi yönündeki sosyal çalışmaları yürüten ve çevrenin korunması, iyileştirilmesi, kirliliğin önlenmesi için çalışmalar yapan birimdir.</p>
            <h5 style="font-weight: bolder;">Eğitim Komisyonu</h5>
            <p>Sakarya ilinin genç nüfusunun aktif yaşama daha etkin bir şekilde katılması için eğitim ve girişimcilik alanındaki faaliyetleri organize eden birimdir</p>
          
            <h5 style="font-weight: bolder;">Kültür ve Sanat Komisyonu</h5>
            <p>Sakarya’da, gençlerin sanat alanında ve kültürel alanda gelişimlerine katkı sağlamak amacıyla çalışmalar yapan birimdir.</p>
       
           <h5 style="font-weight: bolder;">Proje ve AR-GE Komisyonu</h5>
            <p>Sakarya Gençlik Meclisi’nin yıllık yapabileceği proje ve faaliyetleri stratejik bir şekilde planlayan, proje başvuruları ve yazımlarından sorumlu komitedir.</p>
          
            <h5 style="font-weight: bolder;">Reklam Tanıtım ve Sosyal Medya Komisyonu</h5>
            <p>Kent Konseyi Gençlik Meclisi’nin kamuoyu nezdinde bilinirliğini arttırmaya yönelik kurumsal tanıtım çalışmalarını organize edip, yürüten; sosyal medya, web ve basın için görsel ve içeriğe dönük malzemeleri temin eden birimdir.</p>
         
            <h5 style="font-weight: bolder;">Sağlık Komisyonu</h5>
            <p>Sakarya’da yaşayan genç nüfusu sağlık alanında bilinçlendirme faaliyetlerini yürüten ve ilgili alanda çeşitli projeler üzerinde çalışmalar yapan birimdir. Sokak hayvanlarına yönelik yapılan projeler de bu komisyonun çalışma sahasında yer almaktadır.</p>
        

          
        </div>
    </div>


    <dvi class="row">
        <div class="wow fadeInLeft" style="margin-left: 40px;">
        <div class="col-lg-11 lg-offset-1 ">

            <h5 style="font-weight: bolder;">Sosyal Girişimcilik Komisyonu</h5>
        <p>Toplumda farkındalık yaratmak ya da çoğu kimsenin esasen yakından bildiği ancak değinmediği sorunların çözüm noktasında katkı sağlamak amacıyla çalışmalar yapan birimdir. Bireyci olmadan bireysel olabilmeyi, takım ruhunu, grup çalışmasını, topluma fayda sağlamayı bunlarla beraber sosyal ve sanatsal aktiviteleri de kişiliklerimizin birer parçası haline getirmeyi hedefleyen ve faaliyetlerini bu doğrultuda yürüten komitedir.</p>


        <h5 style="font-weight: bolder;">Uluslararası İlişkiler Komisyonu</h5>
        <p>Uluslararası ilişkiler, hukuk ve insan hakları alanlarında çalışmalar yapan birimdir. Türkiye’nin, aktif dış politikası çerçevesi içerisinde diplomatik ilişkilerini takip etmek ve bu konuda çeşitli organizasyonlar düzenleyerek öncelikle gençlerin ve kamuoyunun farkındalık kazanmasını sağlama amacı güden ve çalışmalarını bu yönde gerçekleştiren komitedir. Türkiye’nin yabancı ülkelerle olan ilişkileri başta olmak üzere; diğer yabancı ülkelerin durumları, bağlantıları, Türkiye’ye karşı olan düşünce ve tutumlarını incelemek de söz konusu birimin çalışmaları kapsamında yer alır.</p>
        </div>
            </div>
    </dvi>
</section>

