
@{
    ViewBag.Title = "Konsey";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="~/Content/css/main.css" />


<section class="main-section ">
    <div class="row">
        <div class="col-md-2">
       
                <img class="small-img txt-center"  src="~/Content/images/konsey.png" alt="back-image" />
                <h4 class="h4">KENT KONSEYI</h4>
        
        </div>
        <div class="col-md-9">
            <h5>KENT KONSEYI</h5>
            <p  class="first">5393 sayılı yasa gereği kent konseylerinin çalışma usul ve esasları İçişleri Bakanlığınca hazırlanan yönetmelikte kent yaşamında; kent vizyonunun ve hemşehrilik bilincinin geliştirilmesi, kentin hak ve hukukunun korunması, sürdürülebilir kalkınma, çevreye duyarlılık, sosyal yardımlaşma ve dayanışma, saydamlık, hesap sorma ve hesap verme, katılım, yönetişim ve yerinden yönetim ilkelerini hayata geçirmeye çalışan kent konseylerinin çalışma usul ve esaslarını düzenlemektedir. Yasa içerisinde yer alan madde 8’de kent konseyleri katılımcı profili:</p>
            
            <p>-Vali veya Temsilci</p>
            <p>-Milletvekilleri</p>
            <p>-Büyükşehir Belediye Başkanı veya Temsilcisi</p>
            <p>-Üniversiteler, Kamu Kurum ve Kuruluşları</p>
            <p>-Kamu Kurumu Niteliğindeki Akademik Meslek Odaları/İş Hayatı</p>
            <p>-Meslek Odaları</p>
            <p>-Siyasi Partiler, Sendikalar, Vakıflar, Muhtarlıklar</p>
            <p>-Dernekler (Teknik-Ekonomik/Sosyal-Kültürel/Sportif Hemşehri)</p>
            
         <br />
          
        </div>
        
    </div>

    <div class="row">
        <div class="md-12 lead">
            <p class="second">Kent Konseyleri; kentin tüm dinamiklerini kapsayan bir “Çatı Kuruluş”u olmalı, herkese ve her kesime hitap edebilmelidir. Kent Konseyleri; “Demokrasi Platformu” ve “Çatı Kuruluş” olarak çalışmalı, organizasyon ve koordinasyon görevi yapmalıdır. Kent Konseyi’ne bağlı olarak çalışan Gençlik Meclisi, gençlik kuruluşlarının birleşme noktasıdır. Gençlerin kent yönetimine aktif olarak katılımları, kent sorunlarının çözümünde rol almaları, kendi sorunlarına sahip çıkmaları ve ülkeye zarar verecek yönlendirmelerden uzak durarak gençlik alanında politikalar üretmeleri amacıyla; gençlerin ve gençlerle ilgili kamu kurumları, sivil toplum kuruluşları, siyasi parti, üniversite ve liselerden oluşan demokratik bir yapıdır</p>
</div>
    </div>
</section>  
