
@{
    ViewBag.Title = "OrganizasyonSemasi";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<link rel="stylesheet" href="~/Content/css/main.css" />

<section class="main-section center">
    <div class="row">
        <div style="background-color:#870B15;" class="col-md-2">

            <img class="small-img txt-center" src="~/Content/images/orgsema.png" alt="back-image" />
            <h4 style="color:#140106;" class="h4">Organizasyon şeması </h4>

        </div>
        <div  style="max-width: 67%" class="col m9 s12 ">
            <div style="text-align:center;" class="square basic"><h4>BAŞKAN</h4></div>
            <div class="contain">
                <div class="sub">
                    <div class="square"><h5>BAŞKAN YARDIMCISI </h5></div>
                    <div class="square"><h4>KOMISYONLAR</h4></div>
                </div>
                <div class="sub">
                    <div class="square"><h5>BAŞKAN YARDIMCISI </h5></div>
                    <div class="square"><h4>KOMISYONLAR</h4></div>
                </div>
                <div class="sub">
                    <div class="square"><h5>BAŞKAN YARDIMCISI </h5></div>
                    <div class="square"><h4>KOMISYONLAR</h4></div>
                </div>
                <div class="sub">
                    <div class="square"><h5>BAŞKAN YARDIMCISI </h5></div>
                    <div class="square"><h4>KOMISYONLAR</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>  

